<div class="container">
  <fieldset>
    <form name='regForm' novalidate>

      <input type="text" name="firstname" placeholder="Pick a firstname"
        ng-model="regCtrl.user.firstname"
        required
        minlength="4"
        ng-maxlength="10">
        <span
          ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
          Firstname must be at least 4 characters long
        </span>
        <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
          Firstname must not be longer than 10 characters
        </span>
        <br>

      <input type="text" name="lastname" placeholder="Pick a lastname"
        ng-model="regCtrl.user.lastname"
        required
        minlength="4"
        ng-maxlength="10">
        <span
          ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
          Lastname must be at least 4 characters long
        </span>
        <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
          Lastname must not be longer than 10 characters
        </span>
        <br>

      <input type="email" name="email" placeholder="Email"
        ng-model="regCtrl.user.email"
        required>
        <span ng-if="regForm.email.$invalid && regForm.email.$touched">
          Must be a valid email address: handle@domain format
        </span>
        <br>

      <input type="text" name="phone" placeholder="Phone ###-###-####"
        ng-model="regCtrl.user.phone"
        ng-required="true"
        pattern="(\d{3})-(\d{3})-(\d{4})">
        <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
          Valid phone number is reuired and must be in the format ###-###-#### .
        </span>
        <br>

      <input type="text" name="shortName" placeholder="The short name for your favorite dish"
        ng-model="regCtrl.user.shortName">
        <span
          ng-if="!regCtrl.checkMenuNumber">
          No such menu number exists!
        </span>
        <br>

      <button
        ng-disabled="regForm.$invalid"
        ng-click="regCtrl.submit()">Submit</button>

      <div style="margin-top: 10px;">
        <span ng-if="regCtrl.completed">
          Your information has been saved.
        </span>
      </div>
    </form>
  </fieldset>
  <!-- <div id="info" ng-if="reg.completed">
    Firstname: {{ regCtrl.user.firstname}} <br>
    Lastname: {{ regCtrl.user.lastname}} <br>
    Email: {{ regCtrl.user.email}} <br>
    Phone: {{ regCtrl.user.phone }}
  </div> -->
</div>
