<div class="table-responsive" ng-if="menu.items.length && !menu.isNothingFound">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Short name</th>
        <th>Description</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in menu.items">
        <td> {{ item.name }} </td>
        <td> {{ item.short_name }} </td>
        <td> {{ item.description }} </td>
        <td> <button ng-click="menu.onRemove({index: $index});">Don't want this one!</button> </td>
        <!-- <td> <button>Don't want this one!</button> -->
      </tr>
    </tbody>
  </table>
</div>
<div class="error" style="float: left;" ng-if="menu.isNothingFound">
  Nothing found!
</div>
