<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }

      ul {
        list-style: none; /* Remove list bullets */
        padding: 0;
        margin: 0;
      }

      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyShoppingController as tobuyList'>
     <h2>To Buy:</h2>
     <ul style="list-style:none">
       <li ng-repeat="item in tobuyList.Items">
         <div class="row">
           <div class="col-md-9">
             Buy {{ item.quantity }} {{ item.name }}
           </div>
           <div class="col-md-3">
             <button class="btn btn-default" ng-click="tobuyList.moveItem($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button>
           </div>
       </li>
     </ul>
     <div class="emptyMessage" ng-if="!tobuyList.Items.length"> "Everything is bought!" </div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='AlreadyBoughtShoppingController as boughtList'>
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in boughtList.Items">
         <div>
           Bought {{ item.quantity }} {{ item.name }}
         </div>
     </ul>
     <div class="emptyMessage" ng-if="!boughtList.Items.length"> "Nothing bought yet." </div>
    </div>
  </div>
</div>

</body>
</html>
